mat-card {
  width: 24em;
  overflow: hidden;
}

mat-card>img {
  width: 25em;
  height: auto;
}

.media {
  height: 35em;
  background-image: url("https://pegasuseventsindia.files.wordpress.com/2014/04/eventmanagement-1.jpg?w=640");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
