<main *ngIf="!isLoggedIn" class="site-wrapper">
    <div class="media"></div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
        <mat-card>
            <img mat-card-image
                src="https://images.unsplash.com/photo-1506784365847-bbad939e9335?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1348&q=80"
                alt="">
            <mat-card-content>
                Plan your events and share them with friends. It's 100% free.
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image
                src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="">
            <mat-card-content>
                <p>
                    Invite people to join to your event.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image
                src="https://images.unsplash.com/photo-1544135756-8a8f02e64671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="">
            <mat-card-content>
                <p>
                    Create sport events.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</main>