<div class="information">
    <mat-toolbar color="primary">
        <div class="headerContent">
            <fa-icon class="fa-lg" [icon]="faUser"></fa-icon>
            <h1>Information</h1>
        </div>
    </mat-toolbar>
    <mat-drawer-container class="container">
        <mat-drawer mode="side" opened>
            <div class="buttons">
                <button mat-button color="primary">Contacts</button>
                <button mat-button color="primary">Basic information</button>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <!-- <app-user-contacts></app-user-contacts> -->
            <app-user-basic-information></app-user-basic-information>
        </mat-drawer-content>
    </mat-drawer-container>
</div>