<div class="container site-wrapper" fxLayout="column">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayoutGap="0.5em">
            <fa-icon class="fa-lg" [icon]="faUsers"></fa-icon>
            <h1>FRIENDS ({{this.myFriendsCount}})</h1>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="list" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <div class="item" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let friend of (friends$ | async)">
            <img src="{{friend.profilePictureUrl}}"
                alt="...">
            <div class="info">
                <h3> {{friend.fullName}} </h3>
                <span> Friends </span>
                <span> -- {{friend.friendsCount}} </span>
            </div>
            <button mat-button color="primary" [routerLink]="['/profile', friend.id]">View profile</button>
        </div>
    </div>
</div>