@import "../styles.css";

.title {
  color: #673ab7;
  font-weight: bold;
}

.content {
  height: 5em;
}

@media (max-width: 370px) {
  .content > h2 {
    font-size: medium;
  }

  .title {
    font-size: large;
    font-weight: bold;
  }
}
