<div fxLayout="column" *ngIf="(this.contacts$ | async) as user">
  <h1 class="title">Contacts</h1>
  <hr>
  <div fxLayout="column">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="content">
      <h2 fxFlex="40%">Email</h2>
      <span>{{user.email}}</span>
    </div>
    <hr>
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="content">
      <h2 fxFlex="40%" class="mat-small">Mobile</h2>
      <span>{{user.mobile}}</span>
    </div>
    <hr>
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="content">
      <h2 fxFlex="40%">Facebook</h2>
      <a [href]="user.facebookUrl" *ngIf="user.facebookUrl" target="_blank">{{user.fullName}}</a>
    </div>
  </div>
</div>
