<mat-sidenav-container>
    <mat-sidenav class="leftSidebar" mode="side" opened fixedInViewport="true" fixedTopGap="50" position="start">
        <app-left-sidebar></app-left-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="feed">
        <app-share-publication></app-share-publication>
        <app-publication></app-publication>
    </mat-sidenav-content>
    <mat-sidenav class="rightSidebar" mode="side" opened fixedInViewport="true" fixedTopGap="50" position="end">
        <app-right-sidebar></app-right-sidebar>
    </mat-sidenav>
</mat-sidenav-container>