mat-sidenav-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
}

.leftSidebar {
    max-width: 35%;
    padding-left: 21%;
    height: 100%;
    padding-right: 1%;
    border-right: 1px solid #673ab7;
}

.rightSidebar {
    width: 35%;
    height: 100%;
    border-left: 1px solid #673ab7;
}

.feed {
    padding: 0.2%;
    background-color: whitesmoke;
}

.feed::-webkit-scrollbar {
    display: none;
}