.feed{
    margin-left: 33.22%;
}

.sharePublication{
    position: absolute;
    width: 33.8%;
    border: 2px solid #ccc;
    padding: 2px;
    margin-top: 4px;
}

.sharePublication p{
    border-bottom: 1px groove;
    padding: 5px 8px 8px 15px;
    width: 100%;
    margin-bottom: 0px;
}

.sharePublication textarea{
    border: none;
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    border-bottom: 1px groove;
    background-color: #f8f8f8;
    resize: none;
}

.sharePublication div button{
    margin-right: 5px;
}