.container {
  height: calc(100vh - 6em - 20vh);
}

.login-card {
  width: 20em;
  margin: 0 auto;
}

.login-card button {
  display: block;
  margin-top: 1em;
  width: 100%;
}

.login-card p {
  margin-top: 0.6em;
  padding-bottom: 0;
}

.login-card a {
  text-decoration: none;
}

.social-login > li {
  display: block;
}

.fb {
  color: #3b5998;
}

.google {
  color: #db3236;
}

.twitter {
  color: #2bc4ff;
}
