<div class="notifications">
    <ul>
        <li>
            <span>
                <img class="profile"
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt=""> Kiril Pecev
                <p class="content">like your picture</p>
                <img class="pic"
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt="">
            </span>
        </li>
        <li>
            <span>
                <img class="profile"
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt=""> Kiril Pecev
                <p class="content">share your picture</p>
                <img class="pic"
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt="">
            </span>
        </li>
        <li>
            <span>
                <img class="profile"
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt=""> Kiril Pecev
                <p class="content">share your post</p>
                <img class="pic"
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt="">
            </span>
        </li>
        <li>
            <span>
                <img class="profile"
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt=""> Kiril Pecev
                <p class="content">like your post</p>
                <img class="pic"
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt="">
            </span>
        </li>
        <li>
            <span>
                <img class="profile"
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt=""> Kiril Pecev
                <p class="content">want to join to your event</p>
            </span>
        </li>
    </ul>
</div>