.container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

li {
  padding-bottom: 0.8em;
}

.profile-picture {
  border-radius: 50%;
  width: 3em;
}

.name {
  padding-left: 0.3em;
}

.buttons {
  padding-left: 1em;
}
