<mat-dialog-content fxFlex fxFlexFill>
    <div *ngIf="(this.friends$ | async).length === 0">
        No new friend requests!
    </div>
    <ul fxFlex fxLayout="column">
        <li fxFlex fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let friend of (this.friends$ | async)">
            <a [href]="friend.id" fxLayoutAlign="space-between center">
                <img class="profile-picture"
                    src=""
                    alt="">
                <span class="name">{{friend.fullName}}</span>
            </a>
            <div fxFlex class="buttons">
                <button mat-raised-button color="primary" (click)="accept(friend.id)">Accept</button>
                <button mat-raised-button color="primary" (click)="remove(friend.id)">Delete</button>
            </div>
        </li>
    </ul>
</mat-dialog-content>