<div class="sidebar" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="0.5em">
    <button mat-raised-button color="primary" [routerLink]="['/profile', userId]">
        <img src="{{profilePictureUrl}}">
        <span>My profile</span>
    </button>
    <hr>
    <button mat-stroked-button color="primary" routerLink="/events/create-event">Create event</button>
    <button mat-stroked-button color="primary" [routerLink]="[{ outlets: { dashboard: ['events'] } }]">Events</button>
    <hr>
    <app-joined-events></app-joined-events>
    <hr>
    <app-mine-events></app-mine-events>
</div>