.sidebar button {
    display: block;
    width: 100%;
}

.sidebar img {
    border-radius: 50%;
    width: 13%;
}

.eventBtn {
    margin-bottom: 4%;
}

.sidebar hr {
    border-style: inset;
    border-width: 1px;
    border-color: #673ab7;
}