* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p,
ul,
ol {
    padding-bottom: 1.5em;
}

.site-wrapper {
    max-width: 60em;
    margin: 0 auto;
}