.container {
  margin-top: 0.5em;
  border: 1px solid #673ab7;
}

.pictures {
  padding: 1em;
}

.pictures > img{
  width: 400px;
  height: 300px;
  padding: 0.5em;
}

@media (max-width: 750px) {
  .pictures > img {
    width: 15em;
    height: 15em;
  }
}

@media (max-width: 670px) {
  .pictures > img {
    width: 13em;
    height: 13em;
  }
}

@media (max-width: 600px) {
  .pictures > img {
    width: 20em;
    height: 20em;
  }
}
