<mat-accordion>
    <mat-expansion-panel [ngClass.xs]="{'mobile-screen': true}">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Available positions
            </mat-panel-title>
            <mat-panel-description>
                Join in your favourite position
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutGap="2em" class="container" *ngFor="let position of availablePositions">
            <div>
                <span>{{position.name}}</span>
                <button mat-flat-button color="primary" *ngIf="position.canJoin" (click)="join(position.id)">Join</button>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel [ngClass.xs]="{'mobile-screen': true}">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Busy positions
            </mat-panel-title>
            <mat-panel-description>
                Check which positions are busy
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutGap="2em" class="container" *ngFor="let position of (busyPositions$ | async)">
            <div>
                <span>{{position.name}}:</span>
                <h3>{{position.participant}}</h3>
                <button mat-flat-button color="accent" *ngIf="position.canQuit" (click)="quit(position.id)">Quitting</button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>