mat-expansion-panel {
  min-height: 6em;
}

button {
  display: inline;
  margin-left: 10px;
}

h3 {
  display: inline;
  margin-left: 5px;
  border-bottom: 1px solid #673ab7;
}

span {
  font-size: 1.2em;
  font-weight: bold;
}

.container div {
  margin-bottom: 1em;
}

.mobile-screen{
    padding-top: 2em;
}

.join-btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}