 div {
     display: inline-block;
     padding: 2%;
 }

 button {
     display: inline;
     margin-left: 10px;
 }

 h3 {
     display: inline;
     margin-left: 5px;
     border-bottom: 1px solid #673ab7;
 }

 span {
     font-size: 1.2em;
     font-weight: bold;
 }