<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Available positions
            </mat-panel-title>
            <mat-panel-description>
                Join in your favourite position
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="available">
            <div>
                <span>Goalkeeper</span>
                <button mat-flat-button color="primary">Join</button>
            </div>
            <div>
                <span>Attacking midfield</span>
                <button mat-flat-button color="primary">Join</button>
            </div>
            <div>
                <span>Wide midfield</span>
                <button mat-flat-button color="primary">Join</button>
            </div>
            <div>
                <span>Second striker</span>
                <button mat-flat-button color="primary">Join</button>
            </div>
            <div>
                <span>Centre forward</span>
                <button mat-flat-button color="primary">Join</button>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Busy positions
            </mat-panel-title>
            <mat-panel-description>
                Check which positions are busy
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="busy">
            <div>
                <span>Winger: </span>
                <h3>Kiril Pecev</h3>
                <button mat-flat-button color="accent">Quitting</button>
            </div>
            <div>
                <span>Full-back: </span>
                <h3>Georgi Goshov</h3>
            </div>
            <div>
                <span>Centre midfield: </span>
                <h3>Angel Angelov</h3>
            </div>
            <div>
                <span>Defensive midfield: </span>
                <h3>Kiro Kirov</h3>
            </div>
            <div>
                <span>Stopper : </span>
                <h3>Pesho Peshov</h3>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>