<mat-dialog-content fxFlex fxFlexFill>
    <ul>
        <li *ngFor="let notification of data.notifications" (click)="deleteNotification(notification.id)">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <img class="profile-picture"
                        src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                        alt="">
                </div>
                <div class="content">
                    <span><strong>{{notification.user}}</strong> {{notification.description}}</span>
                </div>
                <div>
                    <img class="pic" [src]="notification.imageUrl" alt="">
                </div>
            </div>
        </li>
    </ul>
</mat-dialog-content>