mat-card{
    margin: auto;
    width: 73.7%;
}

mat-card-header{
    margin-left: 40%;
    padding-bottom: 2%;
}

td {
    display: inline-block;
    padding-right: 10px;
}

.positions{
    padding-top: 3%;
}

.position{
    padding-right: 10px;
}