<div class="position">
    <form class="loginBox" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <h1>Login</h1>
        <mat-form-field>
            <mat-label>
                <fa-icon class="fa-lg" [icon]="faUser"></fa-icon>
                Email
            </mat-label>
            <input matInput type="email" ngModel name="email" #email="ngModel" required email>
            <mat-error *ngIf="email.errors?.required">
                Email is required!
            </mat-error>
            <mat-error *ngIf="email.errors?.email">
                Invalid email!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                <fa-icon class="fa-lg" [icon]="faLock"></fa-icon>
                Password
            </mat-label>
            <input matInput type="password" ngModel name="password" #password="ngModel" required>
            <mat-error *ngIf="password.errors?.required">
                Password is required!
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">SIGN IN</button>
        <span>Don't have an account? <a routerLink="/register">Register Now!</a></span>
        <div class="externalLogin">
            <hr>
            <a href=""><i class="fab fa-facebook fa-4x"></i></a>
            <a href=""><i class="fab fa-google fa-4x"></i></a>
            <a href=""><i class="fab fa-twitter fa-4x"></i></a>
        </div>
    </form>
</div>