<form action="" class="loginBox">
    <h1>Login</h1>
    <mat-form-field>
        <mat-label>
            <fa-icon class="fa-lg" [icon]="faUser"></fa-icon>
            Username
        </mat-label>
        <input matInput type="text" color="white">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            <fa-icon class="fa-lg" [icon]="faLock"></fa-icon>
            Password
        </mat-label>
        <input matInput type="password">
    </mat-form-field>
    <input type="button" class="btn" value="Sign in">
</form>