<div fxLayout="column" *ngIf="(this.information$ | async) as user">
  <mat-card class="container">
    <mat-card-title-group>
      <mat-card-title>
        General information
      </mat-card-title>
      <mat-card-subtitle>{{user.fullName}} general information</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content fxLayout="column" fxLayoutGap="1em">
      <div fxLayout="row" fxLayoutAlign="none center">
        <h2 fxFlex="30%">Birthday</h2>
        <h3>{{user.birthday | date}}</h3>
      </div>
      <div fxLayout="row" fxLayoutAlign="none center">
        <h2 fxFlex="30%">Gender</h2>
        <h3>{{user.gender}}</h3>
      </div>
      <div fxLayout="row" fxLayoutAlign="none center">
        <h2 fxFlex="30%">Favorite sport</h2>
        <h3>{{user.favoriteSport}}</h3>
      </div>
    </mat-card-content>
  </mat-card>
</div>
