<div fxLayout="column" *ngIf="(this.information$ | async) as user">
    <h1 class="title">Basic information</h1>
    <hr>
    <div fxLayout="column">
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="content">
            <h2 fxFlex="40%">Birthday</h2>
            <span>{{user.birthday}}</span>
        </div>
        <hr>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="content">
            <h2 fxFlex="40%">Gender</h2>
            <span>{{user.gender}}</span>
        </div>
        <hr>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="content">
            <h2 fxFlex="40%">Favourite sport</h2>
            <span>{{user.favouriteSport}}</span>
        </div>
    </div>
</div>