mat-sidenav {
  z-index: 5 !important;
}

mat-sidenav-content {
  z-index: auto !important;
}

mat-sidenav-container {
  z-index: auto !important;
}

.sidebar {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 15em;
}

.feed {
  width: 50em;
  padding: 0 1em;
  height: 87vh;
}

.feed::-webkit-scrollbar {
  display: none;
}
