<div class="content">
    <mat-card>
        <mat-card-header class="sharedBy">
            <mat-card-title>
                <h2>Welcome to Football event</h2>
            </mat-card-title>
            <mat-card-subtitle>Creator - Kiril Pecev</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <span>
                    <h3>Sport:</h3>
                    Football
                </span>
                <span>
                    <h3>Location:</h3>
                    Sofia - Vasil Levski stadium
                </span>
                <span>
                    <h3>Date:</h3>
                    15.03.2020
                </span>
                <span>
                    <h3>Time:</h3>
                    15:00
                </span>
                <span>
                    <h3>Available positions:</h3>
                    5
                </span>
            </div>
            <hr>
            <div class="positions">
                <app-positions></app-positions>
            </div>
        </mat-card-content>
    </mat-card>
</div>