.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

mat-toolbar{
    height: 50px;
}

.fix-me {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.header-buttons {
    margin-right: 25%;
}

.header-buttons button {
    margin: 5px;
    text-decoration: none;
}

#title {
    margin-left: 21%;
}

.title{
    color: aliceblue;
}

.title:hover{
    text-decoration: none;
}
