.site-header {
    height: 60px;
}

.site-wrapper {
    max-width: 60em;
    margin: 0 auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-buttons button {
    text-decoration: none;
}

.title {
    color: aliceblue;
}

.title,
.title>a:hover {
    text-decoration: none;
}