<div>
    <mat-toolbar color="primary" class="fix-me">
        <span id="title" class=".navbar-brand">
            <a routerLink="/" class="title">
                <fa-icon class="fa-lg" [icon]="faCalendarWeek"></fa-icon> {{title}}
            </a>
        </span>

        <span class="example-fill-remaining-space"></span>

        <div *ngIf="isLoggedIn" class="header-buttons">
            <button class="btn btn-light btn-sm" title="Home" routerLink="/">
                <fa-icon class="fa-lg" [icon]="faHome"></fa-icon>
            </button>
            <button class="btn btn-light btn-sm" title="Friends" matBadge="5" matBadgePosition="above after"
                matBadgeColor="warn" matBadgeSize="small">
                <fa-icon class="fa-lg" [icon]="faUserFriends"></fa-icon>
            </button>
            <button class="btn btn-light btn-sm" title="Notifications" matBadge="22" matBadgePosition="above after"
                matBadgeColor="warn" matBadgeSize="small" (click)="openDialog()">
                <fa-icon class="fa-lg" [icon]="faFlag"></fa-icon>
            </button>
        </div>
        <div *ngIf="!isLoggedIn" class="header-buttons">
            <button class="btn btn-light btn-sm" routerLink="/login">
                <fa-icon class="fa-lg" [icon]="faSignInAlt"></fa-icon> Login
            </button>
            <button class="btn btn-light btn-sm" routerLink="/register">
                <fa-icon class="fa-lg" [icon]="faUserPlus"></fa-icon> Register
            </button>
        </div>
    </mat-toolbar>
</div>