header {
  background-color: #673ab7;
}

.site-header {
  max-height: 4em;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-buttons button {
  text-decoration: none;
}

.title {
  color: aliceblue;
}

.title,
.title>a:hover {
  text-decoration: none;
}
