<mat-toolbar color="primary" class="fix-me">
    <span id="title" class=".navbar-brand">
        <fa-icon class="fa-lg" [icon]="faCalendarWeek"></fa-icon> {{title}}
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <div class="header-buttons">
        <button class="btn btn-light btn-sm">
            <fa-icon class="fa-lg" [icon]="faHome"></fa-icon> Home
        </button>
        <button class="btn btn-light btn-sm">
            <fa-icon class="fa-lg" [icon]="faUserFriends"></fa-icon> Friends
        </button>
        <button class="btn btn-light btn-sm">
            <fa-icon class="fa-lg" [icon]="faFlag"></fa-icon> Notifications
        </button>
    </div>
</mat-toolbar>