<div fxLayout="column" class="container">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        General account settings
      </mat-card-title>
      <mat-card-subtitle>Change your account information</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content fxLayout="column" fxLayoutGap="1em">
      <form [formGroup]="editForm" (ngSubmit)="edit()">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2 fxFlex="45%">First name</h2>
          <input matInput formControlName="firstName" type="text" required>
          <mat-error *ngIf="editForm.get('firstName').errors?.required && editForm.get('firstName').touched">
            First name is <strong>required</strong>!
          </mat-error>
          <mat-error
            *ngIf="editForm.get('firstName').errors?.minlength || editForm.get('firstName').errors?.maxlength && editForm.get('firstName').touched">
            First name must be between <strong>2</strong> and <strong>50</strong> symbols!
          </mat-error>
          <button class="edit-button" mat-raised-button color="primary" [disabled]="!editForm.get('firstName').dirty">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2 fxFlex="45%">Last name</h2>
          <input matInput formControlName="lastName" type="text" required>
          <mat-error *ngIf="editForm.get('lastName').errors?.required && editForm.get('lastName').touched">
            Last name is <strong>required</strong>!
          </mat-error>
          <mat-error
            *ngIf="editForm.get('lastName').errors?.minlength || editForm.get('lastName').errors?.maxlength && editForm.get('lastName').touched">
            Last name must be between <strong>2</strong> and <strong>50</strong> symbols!
          </mat-error>
          <button class="edit-button" mat-raised-button color="primary" [disabled]="!editForm.get('lastName').dirty">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2 fxFlex="45%">Birthday</h2>
          <input matInput fxflex="50%" matInput formControlName="birthday" type="date">
          <mat-error *ngIf="editForm.get('birthday').errors?.required && editForm.get('birthday').touched">
            Birthday is <strong>required</strong>!
          </mat-error>
          <button class="edit-button" mat-raised-button color="primary" [disabled]="!editForm.get('birthday').dirty">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2 fxFlex="45%">Mobile</h2>
          <input matInput formControlName="mobile" type="tel">
          <mat-error
            *ngIf="editForm.get('mobile').errors?.minlength || editForm.get('mobile').errors?.maxlength && editForm.get('mobile').touched">
            Phone number must be between <strong>10</strong> and <strong>15</strong> symbols!
          </mat-error>
          <button class="edit-button" mat-raised-button color="primary" [disabled]="!editForm.get('mobile').dirty">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2 fxFlex="36%">Facebook profile</h2>
          <input matInput formControlName="facebookUrl" type="url">
          <mat-error
            *ngIf="editForm.get('facebookUrl').errors?.minlength || editForm.get('facebookUrl').errors?.maxlength && editForm.get('facebookUrl').touched">
            Facebook link must be more than <strong>25</strong> symbols!
          </mat-error>
          <button class="edit-button" mat-raised-button color="primary" [disabled]="!editForm.get('facebookUrl').dirty">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2 fxFlex="45%">Favourite sport</h2>
          <input matInput formControlName="favoriteSport" type="text">
          <button class="edit-button" mat-raised-button color="primary" [disabled]="!editForm.get('favoriteSport').dirty">EDIT</button>
        </div>
      </form>
      <hr>
      <div *ngIf="this.isDeactivated" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 fxFlex="30%">Activate your account </h2>
        <h4>You can deactivate it anytime</h4>
        <button mat-button color="primary">Activate</button>
      </div>
      <div *ngIf="!this.isDeactivated" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 fxFlex="30%">Deactivate your account </h2>
        <h4>You can activate it anytime</h4>
        <button mat-button color="accent" (click)="deactivateAcc()">Deactivate</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 fxFlex="30%">Delete your account </h2>
        <h4>You can't restore it after deletion!</h4>
        <button mat-button color="warn" (click)="deleteAcc()">Delete</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
