.container {
  margin-top: 0.5em;
  border: 1px solid #673ab7;
}

.list {
  padding: 0.4em;
}

.item {
  border: 1px solid #673ab7;
  padding: 0.5em;
  max-height: 8em;
  min-width: 22em;
}

.item img {
  height: 5em;
  width: 5em;
}
