.right-sidebar {
    position: fixed;
    height: 100%;
    width: 32.6%;
    margin-left: 67.35%;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.right {
    position: relative;
    margin: 0px;
}

.right span a {
    margin-right: 6px;
}

.right span {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.info h1 {
    padding: 0;
    margin-bottom: 10px;
}

.info a {
    display: block;
    font-size: 16px;
    padding-left: 0%;
    margin-bottom: 5px;
    text-decoration: none;
    height: 35px;
}

.info a:hover {
    color: rgb(0, 255, 64);
}