<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Sport event
            </mat-card-title>
            <mat-card-subtitle>
                Click start to continue with creation
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Create event from any sport. Choose date and location, add positions and play.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">START</button>
        </mat-card-actions>
    </mat-card>
    <div class="freeSpace"></div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Other kind event
            </mat-card-title>
            <mat-card-subtitle>
                Click start to continue with creation
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Create event from any kind different from sport. Choose date and location and play.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">START</button>
        </mat-card-actions>
    </mat-card>
</div>
