<div fxLayout="column" fxLayoutGap="2%" class="container">
    <mat-card *ngFor="let publication of publications$ | async">
        <mat-card-header class="shared-by">
            <mat-card-title fxLayout="row" fxLayoutAlign="start" fxLayoutGap="0.5em">
                <img [src]="publication.userImgUrl" alt="">
                <h2> {{publication.creator}} shared a {{publication.type}}</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <figure *ngIf="publication.imageUrl != null">
                <figcaption>{{publication.description}}</figcaption>
                <img [src]=" publication.imageUrl" alt="">
            </figure>
            <p class="post" *ngIf="publication.imageUrl == null">{{publication.description}}</p>
            <div class="info" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1em">
                <p>Likes: {{publication.likes}}</p>
                <p>Shares: {{publication.shares}}</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="!publication.isLiked" mat-button (click)="like(publication.id)">LIKE</button>
            <button *ngIf="publication.isLiked" mat-button (click)="like(publication.id)">UNLIKE</button>
            <button mat-button (click)="share(publication.id)">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>