<div fxLayout="column" fxLayoutGap="2%" class="container">
    <mat-card>
        <mat-card-header class="shared-by">
            <mat-card-title fxLayout="row" fxLayoutAlign="start" fxLayoutGap="0.5em">
                <img src="https://scontent.fsof7-1.fna.fbcdn.net/v/t1.0-9/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX_3lZDv&_nc_ht=scontent.fsof7-1.fna&oh=047f1b6ecde2a98035d7f97ee42da78d&oe=5EB58E5B"
                    alt="">
                <h2> Kiril Pecev shared a image </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <figure>
                <figcaption>Our new stadium. Come to play football.</figcaption>
                <img src="https://www.worcester.gov.uk/images/easyblog_shared/2019/Football---carousel.jpg" alt="">
            </figure>
            <div class="info" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1em">
                <p>Likes: 356</p>
                <p>Shares: 200</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header class="shared-by">
            <mat-card-title fxLayout="row" fxLayoutAlign="start" fxLayoutGap="0.5em">
                <img src="https://scontent.fsof7-1.fna.fbcdn.net/v/t1.0-9/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX_3lZDv&_nc_ht=scontent.fsof7-1.fna&oh=047f1b6ecde2a98035d7f97ee42da78d&oe=5EB58E5B"
                    alt="">
                <h2>Kiril Pecev shared a image </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <figure>
                <figcaption>College Basketball Made Louisville, Then Broke It - Bloomberg</figcaption>
                <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/idKVTO2PfT5o/v3/1200x-1.jpg" alt="">
            </figure>
            <div class="info" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1em">
                <p>Likes: 1000</p>
                <p>Shares: 2000</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header class="shared-by">
            <mat-card-title fxLayout="row" fxLayoutAlign="start" fxLayoutGap="0.5em">
                <img src="https://scontent.fsof7-1.fna.fbcdn.net/v/t1.0-9/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX_3lZDv&_nc_ht=scontent.fsof7-1.fna&oh=047f1b6ecde2a98035d7f97ee42da78d&oe=5EB58E5B"
                    alt="">
                <h2>Kiril Pecev shared a post</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <p class="post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor expedita optio perferendis
                architecto sed possimus minus exercitationem, quia sunt amet ratione soluta reprehenderit a debitis
                voluptas, vel excepturi ex placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi at
                ipsam
                repellendus inventore eligendi explicabo doloremque corrupti. Dolores asperiores reprehenderit
                voluptates?
                Facere modi architecto delectus in, iure earum deleniti esse.</p>
            <div class="info" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1em">
                <p>Likes: 1000</p>
                <p>Shares: 2000</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>