.container {
  border: 2px solid #673ab7;
}

.header{
  width: 100%;
}

.header > img {
  border-radius: 50%;
  z-index: 1;
}

.header > p {
  font-size: x-large;
  color: #673ab7;
  font-weight: bold;
}

.menu {
  margin-top: -1em;
}

@media (max-width: 620px) {
  .header > p {
    font-size: large;
  }
}

@media (max-width: 340px) {
  .header > p {
    font-size: medium;
  }
}

