<div class="container site-wrapper" fxLayout="column" fxLayoutAlign="space-between center">
    <div fxLayout="row" class="header">
        <img fxFlex="20%"
            src="https://scontent.fsof7-1.fna.fbcdn.net/v/t1.0-9/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_sid=85a577&_nc_ohc=KdyVxbad72kAX_kYQ_J&_nc_ht=scontent.fsof7-1.fna&oh=4aee3f935a9c0527edf3064eb8faf386&oe=5EEF0725"
            alt="">
        <p fxFlex="60%" fxFlex.lt-md="50%" fxFlex.xs="40%" fxFlexAlign="end" *ngIf="user$|async as user">
            {{user.fullName}}</p>
        <p fxFlexAlign="end">Played events: {{createdEventsByUser$ | async}}</p>
    </div>
    <mat-toolbar color="primary" class="menu">
        <mat-toolbar-row fxLayoutAlign="space-evenly end">
            <button mat-button [routerLink]="['/profile', userId]">Daybook</button>
            <button mat-button [routerLink]="[{ outlets: { profile: ['information'] } }]">Information</button>
            <button mat-button [routerLink]="[{ outlets: { profile: ['friends'] } }]">Friends</button>
            <button mat-button [routerLink]="[{ outlets: { profile: ['pictures'] } }]">Pictures</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<router-outlet name="profile"></router-outlet>