.publications {
    position: absolute;
    margin-top: 10px;
    width: 33.9%;
}

.publication {
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

figcaption {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 5px;
}

.sharedBy h2 {
    display: inline-block;
    padding: 5px;
    padding-top: 6px;
    margin-top: 5px;
}

.sharedBy hr {
    margin-top: 0px;
    border: 1px solid #ccc;
}

.sharedBy img {
    width: 7%;
    border-radius: 50%;
}

img {
    width: 100%;
}

.info p {
    display: inline-block;
    margin-top: 0px;
    margin-right: 10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 49.8%;
    margin-right: 0px;
    background-color: #673ab7;
}

.post {
    border: none;
    width: 100%;
    padding: 8px 8px;
    border-bottom: 1px groove;
    background-color: #f8f8f8;
    resize: none;
}

.status hr{
  margin: 0px;
}
