<div class="publications">
    <div class="pic publication">
        <div class="sharedBy">
            <img src="https://scontent.fsof7-1.fna.fbcdn.net/v/t1.0-9/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX_3lZDv&_nc_ht=scontent.fsof7-1.fna&oh=047f1b6ecde2a98035d7f97ee42da78d&oe=5EB58E5B"
                alt="">
            <span>
                <h2>Kiril Pecev</h2>shared a image
            </span>
            <hr>
        </div>
        <figure>
            <figcaption>Our new stadium. Come to play football.</figcaption>
            <img src="https://www.worcester.gov.uk/images/easyblog_shared/2019/Football---carousel.jpg" alt="">
        </figure>
        <div class="info">
            <p>Likes: 356</p>
            <p>Shares: 200</p>
        </div>
        <div class="buttons">
            <button class="btn btn-primary">Like</button>
            <button class="btn btn-primary">Share</button>
        </div>
    </div>
    <div class="pic publication">
        <div class="sharedBy">
            <img src="https://scontent.fsof7-1.fna.fbcdn.net/v/t1.0-9/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX_3lZDv&_nc_ht=scontent.fsof7-1.fna&oh=047f1b6ecde2a98035d7f97ee42da78d&oe=5EB58E5B"
                alt="">
            <span>
                <h2>Kiril Pecev</h2>shared a image
            </span>
            <hr>
        </div>
        <figure>
            <figcaption>College Basketball Made Louisville, Then Broke It - Bloomberg</figcaption>
            <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/idKVTO2PfT5o/v3/1200x-1.jpg" alt="">
        </figure>
        <div class="info">
            <p>Likes: 1000</p>
            <p>Shares: 2000</p>
        </div>
        <div class="buttons">
            <button class="btn btn-primary">Like</button>
            <button class="btn btn-primary">Share</button>
        </div>
    </div>
</div>