<footer *ngIf="!isLoggedIn()" class="fixed-bottom">
    <div class="site-wrapper">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <ul class="social-links" fxFlex fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="1em">
                    <li>
                        <a href="#">
                            <fa-icon [icon]="faFacebookSquare"></fa-icon> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <fa-icon [icon]="faInstagramSquare"></fa-icon> Instagram
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <fa-icon [icon]="faGithubSquare"></fa-icon> Github
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <fa-icon [icon]="faTwitterSquare"></fa-icon> Twitter
                        </a>
                    </li>
                </ul>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span class="copyright">&copy; 2020 Kiril Pecev.</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</footer>
