footer {
  background-color: #673ab7;
  width: 100%;
  margin-top: 6em;
  height: 20vh;
}

.fixed-bottom {
  position: relative;
  bottom: 0;
}

.social-links {
  display: block;
  font-size: 0.8em;
  padding-top: 1em;
  padding-bottom: 0;
}

.social-links > li {
  display: inline-block;
  text-transform: uppercase;
}

.social-links > li > a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  font-size: 0.7em;
}
