<div fxLayout="column">
    <h1 class="title">Information about contact</h1>
    <hr>
    <div fxLayout="column">
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="content">
            <h2 fxFlex="40%">Email</h2>
            <span>kirilpecev@gmail.com</span>
        </div>
        <hr>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="content">
            <h2 fxFlex="40%">Mobile phone</h2>
            <span>0889824843</span>
        </div>
        <hr>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="content">
            <h2 fxFlex="40%">Facebook</h2>
            <a href="http://facebook.com/kiril.pecev1">http://facebook.com/kiril.pecev1</a>
        </div>
    </div>
</div>