.container {
  border: 2px solid #673ab7;
}

.header > img {
  border-radius: 50%;
  z-index: 10;
}

.header > p {
  font-size: x-large;
  color: #673ab7;
  font-weight: bold;
}

.menu {
  margin-top: -1em;
}

.content{
    margin: auto;
}