<div class="container site-wrapper" fxLayout="column" fxLayoutAlign="space-between center">
    <div fxLayout="row" class="header">
        <img fxFlex="20%"
            src="https://scontent.fsof7-1.fna.fbcdn.net/v/t1.0-9/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_sid=85a577&_nc_ohc=EyhkdXjruoIAX_BqCKY&_nc_ht=scontent.fsof7-1.fna&oh=3dbee9e5e2ef45b0bd8af9b59cf57bf6&oe=5EABCAA5"
            alt="">
        <p fxFlex="60%" fxFlex.lt-md="50%" fxFlex.xs="40%" fxFlexAlign="end">Kiril Pecev</p>
        <p fxFlexAlign="end">Played events: 5</p>
    </div>
    <mat-toolbar color="primary" class="menu">
        <mat-toolbar-row fxLayoutAlign="space-evenly end">
            <button mat-button routerLink="/profile">Daybook</button>
            <button mat-button [routerLink]="[{ outlets: { profile: ['information'] } }]">Information</button>
            <button mat-button [routerLink]="[{ outlets: { profile: ['friends'] } }]">Friends</button>
            <button mat-button [routerLink]="[{ outlets: { profile: ['pictures'] } }]">Pictures</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<router-outlet name="profile"></router-outlet>
