* {
    padding: 0;
    margin: 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.container {
    margin: auto;
    width: 50%;
    height: 100%;
    border: 2px solid #673ab7;
}

.header {
    position: relative;
    padding-top: 2%;
}

.header img {
    position: relative;
    border-radius: 50%;
    border: 2px solid #673ab7;
    width: 20%;
}

.header span {
    position: absolute;
    top: 50%;
    left: 21%;
    font-size: 30px;
}

.header .playedEvents {
    left: 70%;
}

.header .info {
    margin-top: -5%;
}

.info .buttons {
    padding-left: 25%;
}

.buttons button {
    font-size: 18px;
    margin-left: 10%;
}