<mat-card fxFlex.xs="90%" *ngFor="let e of events$ | async">
    <mat-card-header>
        <mat-card-title>
            <a class="event-title" [routerLink]="['/events/details', e.id ]">{{e.name}}</a>
        </mat-card-title>
        <mat-card-subtitle>Creator - {{e.creator}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span *ngIf="e.isSportEvent">
            <h3>Sport:</h3>
            {{e.sport}}
        </span>
        <span *ngIf="!e.isSportEvent" >
            <h3>Topic:</h3>
            {{e.sport}}
        </span>
        <span>
            <h3>Location:</h3>
            {{e.location}}
        </span>
        <span>
            <h3>Date:</h3>
            {{e.date}}
        </span>
        <span>
            <h3>Time:</h3>
            {{e.time}}
        </span>
        <span>
            <h3>Available positions:</h3>
            {{e.availablePositions}}
        </span>
    </mat-card-content>
</mat-card>
