<div fxLayout="column" fxLayoutAlign="start start">
    <h1>{{title}}</h1>
    <ul fxLayout="column" fxLayoutGap="1em">
        <li fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="3em">
            <a href="">Footbal in London</a>
            <span class="info">Available spaces: 2</span>
        </li>
        <li fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="3em">
            <a href="">.NET meeting in Sofia</a>
            <span class="info">Available spaces: 1</span>
        </li>
        <li fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="3em">
            <a href="">.NET meeting in Sofia</a>
            <span class="info">Available spaces: 1 </span>
        </li>
    </ul>
</div>