<app-header></app-header>
<div class="main">
    <div class="sidebar">
        <div>
            <a class="btn btn-light btn-sm">
                <img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/s960x960/67104724_2834176489945617_5605573735990951936_o.jpg?_nc_cat=100&_nc_ohc=VABo3BSagmIAX8Pm_AT&_nc_ht=scontent.fsof3-1.fna&_nc_tp=7&oh=0cb8cc86fffbc35b413ab3dbb7367bbf&oe=5EFA3C3C"
                    alt=""> My profile</a>
            <hr>
            <a href="" class="btn btn-light btn-sm">Create event</a>
            <a href="" class="btn btn-light btn-sm">Events</a>
            <hr>
            <ul class="info">
                <h1>Events I'm joined</h1>
                <li><a href=""> Footbal in London</a></li>
                <li><a href="">Basetball in London</a></li>
                <li><a href="">.NET meeting in Sofia</a></li>
            </ul>
        </div>
    </div>
    <div class="right-sidebar">
        <ul class="info right">
            <h1>Upcoming events</h1>
            <li><span><a href=""> Footbal in London</a>Available spaces: 2</span></li>
            <li><span><a href="">Basetball in London</a>Available spaces: 1</span></li>
            <li><span><a href="">.NET meeting in Sofia</a>Available spaces: 1</span></li>
        </ul>
    </div>
    <app-home-page-feed></app-home-page-feed>
</div>