.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.header-buttons{
    margin-right: 20rem;
}

.header-buttons button{
   margin: 2px;
   text-decoration: none;
}  

#title{
    margin-left: 11rem;
}

/* sidebar */
.sidebar{
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 0rem;
    background-color: #673ab7;
    overflow-x: hidden;
    padding-top: 0px;
}

.sidebar a{
    margin-bottom: 2px;
    padding: 6px 32px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    border: none;
    width: 180px;
    height: 35px;
}

.sidebar img{
    border-radius: 50%;
    width: 20%;
}

.sidebar hr{
    border-style: inset;
    border-width: 1px;
}

.sidebar div{
    margin-left: 168px;
}

.sidebar p{
    font-size: 24px;
    color: whitesmoke;
}

.sidebar span a{
    font-size: 16px;
    padding-left: 0%;
    margin-bottom: 5px;
    color: whitesmoke;
}

.sidebar span a:hover{
    padding-left: 0%;
    color: rgb(0, 255, 64);
}