.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .fix-me{
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
  }

.header-buttons{
    margin-right: 17%;
}

.header-buttons button{
   margin: 2px;
   text-decoration: none;
}  

#title{
    margin-left: 21%;
}

aside{
    height: 100%;
}

.main{
    margin-top: 64px;
    height:100%;
}

/* sidebar */
.sidebar{
    position: fixed;
    float: left;
    height: 100%;
    width: 32.8%;
    top: 64px;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.sidebar div{
    float: left;
    margin-left: 57.5%;
}

.sidebar a{
    margin-bottom: 2px;
    padding: 6px 32px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    border: none;
    width: 100%;
    height: 35px;
}

.sidebar img{
    border-radius: 50%;
    width: 13%;
}

.sidebar hr{
    border-style: inset;
    border-width: 1px;
}

.sidebar p{
    font-size: 24px;
}

.sidebar span a{
    font-size: 16px;
    padding-left: 0%;
    margin-bottom: 5px;
}

.sidebar span a:hover{
    padding-left: 0%;
    color: rgb(0, 255, 64);
}

.right-sidebar{
    position: fixed;
    height: 100%;
    width: 32.6%;
    top: 64px;
    margin-left: 67.35%;
    background-color: whitesmoke;
    overflow-x: hidden;
}