.friends ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.friends .profile {
    border-radius: 50%;
    width: 13%;
}

.friends li{
    width: 100%;
    border-bottom: 1px solid #673ab7;
    margin-bottom: 5px;
}

.buttons{
    display: inline;
    margin-left: 18.25%;
}

.buttons a{
    margin-right: 2px;
    width: 23%;
}